<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  header {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
    text-align: center;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }
 #button{
   text-align: center;
 }
</style>






<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  

 
  <section>
    <h4>Needs</h4>
    <ion-button color="primary" expand="full" (click)="showAlert()">Show Alert</ion-button>
  
    <h4>Simple responses for questions</h4>
    <ion-button color="warning" expand="full" (click)="showConfirm()">Show Confirm</ion-button>
  
    <h4>typed wants</h4>
    <ion-button color="danger" expand="full" (click)="showPrompt()">Show Prompt</ion-button>  <code>{{selectedData | json }}</code>
  </section>

  

  <ion-button id="nested-button">Click to open popover</ion-button>
  <ion-popover trigger="nested-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false">
            <ion-label>Option 1</ion-label>
          </ion-item>
          <ion-item [button]="true" [detail]="false">
            <ion-label>Option 2</ion-label>
          </ion-item>
          <ion-item [button]="true" [detail]="true" id="nested-trigger">
            <ion-label>Option 3</ion-label>
          </ion-item>
          
          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-item [button]="true">
                  <ion-label>Nested Option</ion-label>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
